.root {
  text-align: center;
  height: 100%;
}

.member {
  height: 15vmin !important;
  width: 15vmin !important;
  pointer-events: none;
  margin: 0 auto;
}

.memberBlock {
  margin-bottom: 4rem;
}